
<footer class="bg-slate-800 text-slate-400" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="container py-10 sm:px-6 lg:py-16 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8 xl:col-span-1 xl:pr-36">
      </div>
      <div class="mt-12 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-12">
          <div>
            <h3 class="text-base font-medium text-slate-300">Products</h3>
            <ul role="list" class="mt-4 space-y-4">
              <li>
                <a href="/products/field-boundary-management/" class="text-base text-slate-500 hover:text-slate-300">Field Boundary Management</a>
              </li>

              <li>
                <a href="/products/field-operations/" class="text-base text-slate-500 hover:text-slate-300">Field Operations</a>
              </li>

              <li>
                <a href="/products/crop-monitoring/" class="text-base text-slate-500 hover:text-slate-300">Crop Monitoring</a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-base font-medium text-slate-300">Support</h3>
            <ul role="list" class="mt-4 space-y-4">
              <li>
                <a href="/products/pricing" class="text-base text-slate-500 hover:text-slate-300">Pricing</a>
              </li>

              <li>
                <a href="/account/startups" class="text-base text-slate-500 hover:text-slate-300">Leaf for Startups</a>
              </li>

              <li>
                <a href="/company/contact" class="text-base text-slate-500 hover:text-slate-300">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-12">
          <div>
            <h3 class="text-base font-medium text-slate-300">Company</h3>
            <ul role="list" class="mt-4 space-y-4">
              <li>
                <a href="/company" class="text-base text-slate-500 hover:text-slate-300">About Us</a>
              </li>

              <li>
                <a href="/blog" class="text-base text-slate-500 hover:text-slate-300">Blog</a>
              </li>

              <li>
                <a href="/customers" class="text-base text-slate-500 hover:text-slate-300">Case Studies</a>
              </li>

              <li>
                <a href="/company/careers" class="text-base text-slate-500 hover:text-slate-300">Careers</a>
              </li>

            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-base font-medium text-slate-300">Legal</h3>
            <ul role="list" class="mt-4 space-y-4">
              <li>
                <a href="/yourdatawithleaf" class="text-base text-slate-500 hover:text-slate-300">Your data with Leaf</a>
              </li>

              <li>
                <a href="/yourdatawithleaf/privacy" class="text-base text-slate-500 hover:text-slate-300">Privacy</a>
              </li>

              <li>
                <a href="/yourdatawithleaf/terms" class="text-base text-slate-500 hover:text-slate-300">Terms and conditions</a>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>

  </div>

<div class="bg-slate-900">
  <div class="container flex flex-wrap justify-between items-center py-5 text-slate-300">
    {% include 'partial/socmed',
      class: '-mx-2',
      linkClass: 'hover:border-b-2 border-current'
      %}
    <p class="text-sm py-1">&copy; Corbin Featherstone {{ 'now' | date: "%Y" }}</p>
  </div>
</div>

</footer>

