---
title: My Rad Blog
---
<!doctype html>
<html class="no-js" xmlns="//www.w3docs.com/2014/xhtml" lang="en" xml:lang="en">

{% include 'head' %}
{% include 'navigation' %}


<body class="flex flex-col">
  <main class="flex-1">
  {{ content }}
  </main>
</body>

{% include 'footer' %}


</html>