
{% include 'head' %}
{% include 'navigation' %}


<body class="flex flex-col min-h-screen">
  <main class="flex-1">
  {{ content }}
  </main>
</body>

{% include 'partial/cta' %}
{% include 'footer' %}


</html>