  <!-- Email form -->
    <div class="relative isolate overflow-hidden bg-neutral-900 rounded-2xl px-8 py-4 lg:py-6 lg:px-12 flex flex-col lg:flex-row items-center justify-between">
      <div class="text-center lg:text-left max-w-lg">
      <h2 class="text-3xl font-bold tracking-tight text-neutral-100 sm:text-4xl">Product news delivered to you</h2>
      <p class="text-lg leading-8 text-neutral-400">Agworld monthly product news. Opt out anytime.</p>
      </div>
      <form class="mt-5 pb-3 flex max-w-lg flex-1 gap-x-4">
        <label for="email-address" class="sr-only">Email address</label>
        <input id="email-address" name="email" type="email" autocomplete="email" required class="min-w-0 flex-auto rounded-md border-0 bg-white/10 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/30 focus:ring-2 focus:ring-inset focus:ring-brand sm:text-sm sm:leading-6" placeholder="Enter your email">
        <button type="submit" class="flex-none rounded-md bg-brand py-2.5 px-3.5 text-sm font-semibold text-neutral-50 shadow-sm hover:bg-brand-hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand">Stay up to date</button>
      </form>
    </div>
