<span class="block mx-auto w-20 border-2 border-t border-slate-600"></span>
  <div class="block mx-auto px-5 lg:w-1/2 py-12 {{ class }}">
  <blockquote class="h3 text-2xl lg:text-3xl xl:text-4xl leading-tight text-center">"{{ quote }}"</blockquote>
  <p class="h5 pt-5 text-center text-xs lg:text-sm">{{ attribute }}</p>
  </div>
<span class="block mx-auto w-20 border-2 border-t border-slate-600"></span>
