<span class="inline-block group relative ">
    <a class="underline cursor-pointer underline-offset-6 decoration-dotted decoration-slate-500 hover:decoration-slate-800 hover:decoration-solid overflow-auto {{ class }}" 
    href="{{ url }}">
    {{ text }}
    </a>
    <div class="opacity-0 group-hover:opacity-100 cursor-default transition-opacity absolute top-0 -mt-16 left-1/2 
    -translate-x-1/2 translate-y-full w-20 text-center">
    <span class=" block bg-slate-800 py-1 text-sm font-semibold text-slate-50 rounded"> {{ tooltip }} </span>
    <span class="block mx-auto arrow-down-dark"></span>
    </div>
</span>