<span class="inline-block group relative ">
    <a class="underline cursor-pointer underline-offset-4 decoration-dotted decoration-slate-300 hover:decoration-slate-700 overflow-auto {{ class }}" 
    href="{{ url }}">
    {{ text }}
    </a>
<span class="opacity-0 group-hover:opacity-100 cursor-default block transition-opacity bg-slate-800 py-1 text-sm font-semibold text-slate-50 rounded absolute top-0 -mt-14 left-1/2 
    -translate-x-1/2 translate-y-full w-20 text-center"> {{ tooltip }} </span>
</span>