<div class="{{ class }}">
  <div class="relative w-full h-0" style="padding-bottom: 56.25%;">
  <iframe src="https://player.vimeo.com/video/{{ id }}" class="w-full h-full absolute p-t p-l" frameborder="0" allow="autoplay; fullscreen" allowfullscreen data-vimeo-defer></iframe>
  </div>
</div>
