---
title: Corbin Featherstone | My Work
---

<section class="bg-white pb-12 pt-8 border-y">
    <div class="container text-center">
        <h2 class="font-bold text-4xl lg:text-5xl">
          Portfolio
        </h2>
        <h5 class="pb-4">By Corbin Featherstone</h5>
        <p class="text-slate-500 max-w-3xl mx-auto pb-6">
          The projects below are a small representation of my overall work.<br />Copyrights belong to the company the work was created for, used with permission.
        </p>
    </div>
</section>

{% assign new-list = collections.portfolio | reverse %}

<section class="container max-w-7xl -mt-6">
        <!-- if array = [1,2,3,4,5,6] -->
        {% for item in new-list limit: 1 %}
        <a href="{{ item.url }}" class="group block mb-8">
            <div class="relative overflow-hidden border border-white rounded shadow-lg">
                <div
                    class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:block bg-slate-900 opacity-20 z-20">
                </div>
                {% include 'partial/img',
                path: item.data.image,
                2xl: '&w=1250&h=740&fit=crop',
                xl: '&w=420&h=400&fit=crop',
                lg: '&w=500&h=420&fit=crop',
                md: '&w=400&h=300&fit=crop',
                sm: '&w=380&h=280&fit=crop',
                class: 'transition duration-500 ease-in-out group-hover:scale-105'
                %}
            </div>
            <div class="flex flex-wrap justify-between items-center mt-2">
                <p class="h3 font-medium text-xl py-2 lg:text-2xl group-hover:underline">{{ item.data.title }}</p>
                <time itemprop="datePublished" class="font-medium mt-3 mb-2 block">{{ item.date | date: "%d %b, %Y" }}</time>
            </div>
        </a>
        {% endfor %}

        <div class="grid lg:grid-cols-2 gap-10">
        <!-- if array = [1,2,3,4,5,6] -->
            {% for item in new-list limit: 4 offset: continue %}
            <a href="{{ item.url }}" class="group">
                <div class="relative overflow-hidden border border-white rounded shadow-md">
                    <div
                        class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:block bg-slate-900 opacity-20 z-20">
                    </div>
                    {% include 'partial/img',
                    path: item.data.image,
                    2xl: '&w=620&h=480&fit=crop',
                    xl: '&w=420&h=400&fit=crop',
                    lg: '&w=500&h=420&fit=crop',
                    md: '&w=400&h=300&fit=crop',
                    sm: '&w=380&h=280&fit=crop',
                    class: 'transition duration-500 ease-in-out group-hover:scale-105'
                    %}
                </div>
                <div class="flex flex-wrap justify-between items-center mt-2">
                    <p class="h3 font-medium text-xl py-2 lg:text-2xl group-hover:underline">{{ item.data.title }}</p>
                    <time itemprop="datePublished" class="font-medium mt-3 mb-2 block">{{ item.date | date: "%d %b, %Y" }}</time>
                </div>
            </a>
            {% endfor %}
        </div>

        <div class="my-12">
            <!-- Email capture -->
            {% include 'partial/email' %}
        </div>

        {% for item in new-list limit: 2 offset: continue %}
        <a href="{{ item.url }}" class="group block my-8">
            <div class="relative overflow-hidden border border-white rounded shadow-lg">
                <div
                    class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:block bg-slate-900 opacity-20 z-20">
                </div>
                {% include 'partial/img',
                path: item.data.image,
                2xl: '&w=1250&h=740&fit=crop',
                xl: '&w=420&h=400&fit=crop',
                lg: '&w=500&h=420&fit=crop',
                md: '&w=400&h=300&fit=crop',
                sm: '&w=380&h=280&fit=crop',
                class: 'transition duration-500 ease-in-out group-hover:scale-105'
                %}
            </div>
            <div class="flex flex-wrap justify-between items-center mt-2">
                <p class="h3 font-medium text-xl py-2 lg:text-2xl group-hover:underline">{{ item.data.title }}</p>
                <time itemprop="datePublished" class="font-medium mt-3 mb-2 block">{{ item.date | date: "%d %b, %Y" }}</time>
            </div>
        </a>
        {% endfor %}

        <div class="grid lg:grid-cols-2 gap-10">
            <!-- if array = [1,2,3,4,5,6] -->
                {% for item in new-list limit: 2 offset: continue %}
                <a href="{{ item.url }}" class="group">
                    <div class="relative overflow-hidden border border-white rounded shadow-md">
                        <div
                            class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:block bg-slate-900 opacity-20 z-20">
                        </div>
                        {% include 'partial/img',
                        path: item.data.image,
                        2xl: '&w=620&h=480&fit=crop',
                        xl: '&w=420&h=400&fit=crop',
                        lg: '&w=500&h=420&fit=crop',
                        md: '&w=400&h=300&fit=crop',
                        sm: '&w=380&h=280&fit=crop',
                        class: 'transition duration-500 ease-in-out group-hover:scale-105'
                        %}
                    </div>
                    <div class="flex flex-wrap justify-between items-center mt-2">
                        <p class="h3 font-medium text-xl py-2 lg:text-2xl group-hover:underline">{{ item.data.title }}</p>
                        <time itemprop="datePublished" class="font-medium mt-3 mb-2 block">{{ item.date | date: "%d %b, %Y" }}</time>
                    </div>
                </a>
                {% endfor %}
            </div>

            {% for item in new-list limit: 1 offset: continue %}
            <a href="{{ item.url }}" class="group block my-8">
                <div class="relative overflow-hidden border border-white rounded shadow-lg">
                    <div
                        class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:block bg-slate-900 opacity-20 z-20">
                    </div>
                    {% include 'partial/img',
                    path: item.data.image,
                    2xl: '&w=1250&h=740&fit=crop',
                    xl: '&w=420&h=400&fit=crop',
                    lg: '&w=500&h=420&fit=crop',
                    md: '&w=400&h=300&fit=crop',
                    sm: '&w=380&h=280&fit=crop',
                    class: 'transition duration-500 ease-in-out group-hover:scale-105'
                    %}
                </div>
                <div class="flex flex-wrap justify-between items-center mt-2">
                    <p class="h3 font-medium text-xl py-2 lg:text-2xl group-hover:underline">{{ item.data.title }}</p>
                    <time itemprop="datePublished" class="font-medium mt-3 mb-2 block">{{ item.date | date: "%d %b, %Y" }}</time>
                </div>
            </a>
            {% endfor %}

            <div class="grid lg:grid-cols-2 gap-10 mb-20">
                <!-- if array = [1,2,3,4,5,6] -->
                    {% for item in new-list offset: continue %}
                    <a href="{{ item.url }}" class="group">
                        <div class="relative overflow-hidden border border-white rounded shadow-md">
                            <div
                                class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:block bg-slate-900 opacity-20 z-20">
                            </div>
                            {% include 'partial/img',
                            path: item.data.image,
                            2xl: '&w=620&h=480&fit=crop',
                            xl: '&w=420&h=400&fit=crop',
                            lg: '&w=500&h=420&fit=crop',
                            md: '&w=400&h=300&fit=crop',
                            sm: '&w=380&h=280&fit=crop',
                            class: 'transition duration-500 ease-in-out group-hover:scale-105'
                            %}
                        </div>
                        <div class="flex flex-wrap justify-between items-center mt-2">
                            <p class="h3 font-medium text-xl py-2 lg:text-2xl group-hover:underline">{{ item.data.title }}</p>
                            <time itemprop="datePublished" class="font-medium mt-3 mb-2 block">{{ item.date | date: "%d %b, %Y" }}</time>
                        </div>
                    </a>
                    {% endfor %}
                </div>
</section>

{% include 'partial/cta' %}
