@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-primary-light text-slate-900;
}
::-moz-selection {
  @apply bg-primary-light text-slate-900;
}

.reversed::selection {
  @apply  bg-slate-50;
}
.reversed::-moz-selection {
  @apply  bg-slate-50;
}

h1.work::selection {
  @apply  text-slate-50 bg-primary-light;
}
h1.work::-moz-selection {
  @apply  text-slate-50 bg-primary-light;
}

  body {
    @apply text-slate-900 leading-relaxed;
  }
  
  p {
    @apply pb-2;
  }
  p a {
    @apply font-bold;
    }
  
  p a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
  }
  
  h1, .h1 {
    font-family: 'Roboto Slab', serif;
    @apply text-6xl leading-none font-bold mb-4 mt-6;
    }
  
  h2, .h2 {
    font-family: 'Roboto Slab', serif;
    @apply text-4xl leading-tight font-bold mb-3 mt-5;
    }
  
  h4, .h4 {
    font-family: 'Montserrat', sans-serif;
    @apply text-lg font-semibold;
    }
  
  h5, .h5 {
    font-family: 'Montserrat', sans-serif;
    @apply text-xs tracking-widest uppercase font-medium;
    }
  
  h6, .h6 {
    font-family: 'Montserrat', sans-serif;
    @apply text-sm font-semibold;
    }
  
  .menu a:hover {
    @apply border-slate-900  ;
    }
  
  .breadcrumbs li::after {
    content: "/";
  }
  
  .breadcrumbs li:last-child::after {
    content: none;
  }