@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base extension */
@layer base {

::selection {
  @apply bg-primary-light text-slate-900;
}
::-moz-selection {
  @apply bg-primary-light text-slate-900;
}

.reversed::selection {
  @apply  bg-slate-50;
}
.reversed::-moz-selection {
  @apply  bg-slate-50;
}

h1.work::selection {
  @apply  text-slate-50 bg-primary-light;
}
h1.work::-moz-selection {
  @apply  text-slate-50 bg-primary-light;
}

  body {
    @apply text-slate-900 leading-relaxed;
  }
  
  p {
    @apply pb-2;
  }
  p a {
    @apply underline underline-offset-4 decoration-dotted decoration-slate-500 hover:decoration-solid hover:decoration-slate-800;
    }
  
  p a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  
  h1, .h1 {
    font-family: 'Roboto Slab', serif;
    @apply text-6xl leading-none font-bold mb-4 mt-6;
    }
  
  h2, .h2 {
    font-family: 'Roboto Slab', serif;
    @apply text-4xl leading-tight font-bold mb-3 mt-5;
    }

  h3, .h3 {
    font-family: 'Roboto Slab', serif;
    @apply leading-tight;
    }

  h4, .h4 {
    font-family: 'Montserrat', sans-serif;
    @apply text-lg font-semibold;
    }
  
  h5, .h5 {
    font-family: 'Montserrat', sans-serif;
    @apply text-xs tracking-widest uppercase font-medium;
    }
  
  h6, .h6 {
    font-family: 'Montserrat', sans-serif;
    @apply text-sm font-semibold;
    }
  
  .menu a:hover {
    @apply border-slate-900  ;
    }

  .img {
    @apply border-2 border-white rounded-md shadow-xl ring-1 ring-black ring-opacity-5;
  }
}

.arrow-down-dark {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #191919;
}