---
layout: main
title: Corbin NZ
---

<!-- hero -->
<section class="bg-primary pt-28 -mt-28 reversed">
  <div class="container flex items-center">
    <div class="lg:w-1/2 xl:w-1/3 lg:-mr-40 pt-6 pb-20 lg:pt-0 lg:pb-0 lg:ml-20 z-10">
      <h1 class="reversed">Stand out from the crowd.</h1>
      <p class="reversed md:w-3/4 lg:w-full">A great graphic designer will deliver the best <span
          class="reversed font-bold">consistent visuals</span> for your business, across <span
          class="reversed font-bold">multiple platforms.</span> </p>

      <div class="py-3">
        {% include 'partial/btn',
        url: '/contact',
        text: 'Get in touch',
        class: 'my-2 mr-4 border-2 border-slate-900 bg-slate-900 text-primary hover:text-primary-light
        hover:bg-slate-800 hover:shadow',
        %}
        {% include 'partial/btn',
        url: 'assets/file/corbin_featherstone.pdf',
        text: 'Portfolio',
        class: 'my-2 border-2 border-slate-900 hover:bg-primary-light',
        icopost: 'arrow-up-right'
        %}

      </div>
    </div>
    <div class="hidden lg:flex">
      {% include 'partial/img',
      path: 'bad-juju.jpg',
      2xl: '&h=800',
      xl: '&h=700',
      lg: '&h=550',
      md: '&w=20',
      sm: '&w=20',
      alt: 'Bad Juju, beer brand by Corbin Featherstone',
      class: ''
      %}
    </div>
  </div>
</section>

<!-- socmed links -->
<section class="container -mt-11">
  {% include 'partial/socmed',
  class: '-mx-2',
  linkClass: 'hover:border-b-4 border-current'
  %}
</section>

<!-- Intro -->
<section class="container py-20">
  <div class="w-full text-center">
    <h5>Corbin Featherstone</h5>
    <h2 class="font-bold text-4xl lg:text-5xl">
      Communicate. Information. Visually.
    </h2>
    <p class="text-xl text-slate-500">
      Graphic designer with a long history of churning out high-quality work that solves problems.
    </p>
    {% include 'partial/btn',
    url: '/about',
    text: 'About me',
    class: 'my-5 border border-primary-dark bg-primary hover:bg-primary-light',
    icopost: 'angle-right'
    %}
    <p class="text-sm max-w-3xl mx-auto">
      The work on this site represents a small section of my portfolio. Each item has been designed and built solely by myself. Copyright belongs to the company the work was created for, used with permission.
    </p>
  </div>
</section>

<!-- Featured -->
<div class="relative overflow-hidden bg-white pb-32 pt-16 border-y">
  <div class="relative">
    <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:px-0 lg:py-16">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900">Stay on top of customer support</h2>
            <p class="mt-4 text-gray-500">Semper curabitur ullamcorper posuere nunc sed. Ornare iaculis bibendum
              malesuada faucibus lacinia porttitor. Pulvinar laoreet sagittis viverra duis. In venenatis sem arcu
              pretium pharetra at. Lectus viverra dui tellus ornare pharetra.</p>
            <div class="mt-6">
              {% include 'partial/btn',
              url: '/work',
              text: 'All work',
              class: 'my-3 border border-slate-200 bg-white hover:border-slate-500',
              icopost: 'angle-right'
              %}
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="-mr-48 pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0">
            {% include 'partial/img',
            path: 'featured-brand.jpg',
            2xl: '&w=959&h=575&fit=crop',
            xl: '&w=420&h=400&fit=crop',
            lg: '&w=500&h=420&fit=crop',
            md: '&w=400&h=300&fit=crop',
            sm: '&w=380&h=280&fit=crop',
            class: 'w-full border-2 border-white rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none'
            %}
        </div>
      </div>
    </div>
  </div>
  <div class="mt-24">
    <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div class="mx-auto max-w-xl px-6 lg:col-start-2 lg:mx-0 lg:max-w-none lg:px-0 lg:py-32">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900">Better understand your customers</h2>
            <p class="mt-4 text-gray-500">Semper curabitur ullamcorper posuere nunc sed. Ornare iaculis bibendum
              malesuada faucibus lacinia porttitor. Pulvinar laoreet sagittis viverra duis. In venenatis sem arcu
              pretium pharetra at. Lectus viverra dui tellus ornare pharetra.</p>
            <div class="mt-6">
              {% include 'partial/btn',
              url: '/work',
              text: 'All work',
              class: 'my-3 border border-slate-200 bg-white hover:border-slate-500',
              icopost: 'angle-right'
              %}
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:col-start-1 lg:mt-0">
        <div class="-ml-48 pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0">
            {% include 'partial/img',
            path: 'featured-brand.jpg',
            2xl: '&w=959&h=575&fit=crop',
            xl: '&w=420&h=400&fit=crop',
            lg: '&w=500&h=420&fit=crop',
            md: '&w=400&h=300&fit=crop',
            sm: '&w=380&h=280&fit=crop',
            class: 'w-full border-2 border-white rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none'
            %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Logos list -->
<div class="bg-slate-900 py-16 sm:py-20">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/transistor-logo-white.svg" alt="Transistor" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/reform-logo-white.svg" alt="Reform" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/tuple-logo-white.svg" alt="Tuple" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/savvycal-logo-white.svg" alt="SavvyCal" width="158" height="48">
      <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/statamic-logo-white.svg" alt="Statamic" width="158" height="48">
    </div>
  </div>
</div>


<!-- Recent -->
<section class="container py-12">
  <h2 class="text-center pb-12">Recent work</h2>
  <ul class="w-full grid grid-cols-2 xl:grid-cols-4 gap-x-12">
    {% for work in collections.recent limit:4 %}

    <li class="relative group overflow-hidden rounded-md border-2 border-white shadow-sm">
      <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:block bg-slate-900 opacity-40 z-20"></div>
      <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex items-center z-30">
        <div class="mx-auto text-center text-white">
          <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
          <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
          {% include 'partial/btn',
          url: work.url,
          text: 'View project',
          class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
          %}
        </div>
      </div>
      {% include 'partial/img',
      path: work.data.image,
      2xl: '&w=360&h=580&fit=crop',
      xl: '&w=420&h=400&fit=crop',
      lg: '&w=500&h=420&fit=crop',
      md: '&w=400&h=300&fit=crop',
      sm: '&w=380&h=280&fit=crop',
      class: 'transition duration-500 ease-in-out group-hover:scale-105'
      %}
    </li>
    {% endfor %}
  </ul>
</section>

<!-- Quote -->
<section class="container py-20 ">
  {% include 'partial/quote-lg',
  quote: "...honestly mate, we've been discussing this around the office and I think you're our new favourite kiwi, behind Jacinda.",
  attribute: 'Reinder Prins / Marketing Manager',
  class: ''
  %}
</section>

<!-- website front end -->
<section class="container flex flex-wrap justify-between items-center pb-20 ">
  <div class="w-full lg:w-1/3">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>Website front-end</h2>
    <p class="">
      I used to build WordPress and Magento themes back in the day and am very familiar with most major CMS platforms.
    </p>
    <p class="">
      These days I've dipped a toe into Next.js, but largely use Jamstack frameworks with Tailwind and Alpine on top.
    </p>

    {% include 'partial/btn',
    url: '/assets/file/corbin_featherstone.pdf',
    text: 'All Websites',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}

  </div>
  <div class="w-full lg:w-7/12 my-3 relative group overflow-hidden rounded-lg">
    {% for work in collections.website limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'm-2 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
        {% include 'partial/btn',
        url: work.url,
        text: 'Website',
        icopost: 'arrow-up-right',
        class: 'm-2 py-2 cursor-pointer text-slate-200 border border-black bg-slate-900 hover:bg-slate-800'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=980&h=500&fit=crop',
    sm: '&w=800&h=450&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105'
    %}
    {% endfor %}
  </div>
</section>

<!-- Brand section -->
<section class="container flex flex-wrap flex-row-reverse justify-between items-center py-20 ">
  <div class="w-full lg:w-5/12 mx-auto">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>Branding</h2>
    <p class="">
      Stylised eye as seen reflected in a telescope. Image created using the planets of the solar system. Each planet is
      correctly proportional in size.
    </p>

    {% include 'partial/btn',
    url: '/assets/file/corbin_featherstone.pdf',
    text: 'All Branding',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}
  </div>
  <div class="w-full lg:w-1/2 my-3 group relative overflow-hidden rounded-lg">
    {% for work in collections.branding limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=8000&h=400&fit=crop',
    sm: '&w=750&h=350&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105 group-hover:brightness-75'
    %}
    {% endfor %}
  </div>
</section>

<!-- Brochures section -->
<section class="container flex flex-wrap justify-between items-center py-20 ">
  <div class="w-full lg:w-5/12 mx-auto">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>Brochures</h2>
    <p class="">
      Digital and print: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
    </p>

    {% include 'partial/btn',
    url: '/work',
    text: 'All Layout',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}
  </div>
  <div class="w-full lg:w-1/2 my-3 group relative overflow-hidden rounded-lg">
    {% for work in collections.layout limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=800&h=400&fit=crop',
    sm: '&w=750&h=350&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105 group-hover:brightness-75'
    %}
    {% endfor %}
  </div>
</section>

<!-- Advertising section -->
<section class="container flex flex-row-reverse flex-wrap justify-between items-center py-20 ">
  <div class="w-full lg:w-1/4 mx-auto">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>Advertising</h2>
    <p class="">
      Tractor crops / Digital cloud watering plant
    </p>

    {% include 'partial/btn',
    url: '/work',
    text: 'All Advertising',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}
  </div>
  <div class="w-full lg:w-7/12 my-3 group relative overflow-hidden rounded-lg">
    {% for work in collections.advertising limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=800&h=400&fit=crop',
    sm: '&w=750&h=350&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105 group-hover:brightness-75'
    %}
    {% endfor %}
  </div>
</section>

<!-- 3D -->
<section class="container flex flex-wrap justify-between items-center py-20 ">
  <div class="w-full lg:w-5/12 mx-auto">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>3D</h2>
    <p class="">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
    </p>

    {% include 'partial/btn',
    url: '/work',
    text: 'All 3D',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}
  </div>
  <div class="w-full lg:w-1/2 my-3 group relative overflow-hidden rounded-lg">
    {% for work in collections.layout limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=800&h=400&fit=crop',
    sm: '&w=750&h=350&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105 group-hover:brightness-75'
    %}
    {% endfor %}
  </div>
</section>

<!-- Presentations section -->
<section class="container flex flex-row-reverse flex-wrap justify-between items-center py-20 ">
  <div class="w-full lg:w-1/4 mx-auto">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>Presentations</h2>
    <p class="">
      Tractor crops / Digital cloud watering plant
    </p>

    {% include 'partial/btn',
    url: '/work',
    text: 'All Presentations',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}
  </div>
  <div class="w-full lg:w-7/12 my-3 group relative overflow-hidden rounded-lg">
    {% for work in collections.advertising limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=800&h=400&fit=crop',
    sm: '&w=750&h=350&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105 group-hover:brightness-75'
    %}
    {% endfor %}
  </div>
</section>

<!-- Video editing and Motion graphics -->
<section class="container py-12">
  <h2 class="text-center pb-12">Video & motion graphics</h2>
  <ul class="w-full grid grid-cols-1 xl:grid-cols-3 gap-x-12">
    {% for work in collections.recent limit:3 %}

    <li class="relative group overflow-hidden rounded-md border-2 border-white shadow-sm">
      <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:block bg-slate-900 opacity-40 z-20"></div>
      <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex items-center z-30">
        <div class="mx-auto text-center text-white">
          <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
          <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
          {% include 'partial/btn',
          url: work.url,
          text: 'View project',
          class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
          %}
        </div>
      </div>
      {% include 'partial/img',
      path: work.data.image,
      2xl: '&w=460&h=580&fit=crop',
      xl: '&w=420&h=400&fit=crop',
      lg: '&w=500&h=420&fit=crop',
      md: '&w=400&h=300&fit=crop',
      sm: '&w=380&h=280&fit=crop',
      class: 'transition duration-500 ease-in-out group-hover:scale-105'
      %}
    </li>
    {% endfor %}
  </ul>
</section>

<!-- Testimonial -->
<section class="container py-20 ">
  {% include 'partial/quote-lg',
  quote: "One of the best designers I've every worked with, has performed an extremely good output. Magento themes back in the day and am very familiar with most major CMS platforms",
  attribute: 'Manager',
  class: ''
  %}
</section>

<!-- Image processing section -->
<section class="bg-white border-y my-20">
  <div class="container flex items-center flex-col lg:flex-row">
      <div class="lg:w-1/3 lg:pr-12 lg:py-16">
        {% include 'partial/icon-box',
        icon: 'user-friends',
        class: 'block'
        %}
        <h2>Image processing</h2>
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
        {% include 'partial/btn',
        url: '/work',
        text: 'All Presentations',
        class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
        icopost: 'angle-right'
        %}

      </div>
      {% include 'partial/img',
      path: 'featured-layout.jpg',
      2xl: '&w=1200&h=600&fit=crop',
      xl: '&h=700',
      lg: '&h=550',
      md: '&w=20',
      sm: '&w=20',
      alt: 'Bad Juju, beer brand by Corbin Featherstone',
      class: '-my-20 rounded-lg border p-2 bg-white shadow-sm'
      %}
  </div>
</section>


<!-- Packaging -->
<section class="container flex flex-wrap flex-row-reverse justify-between items-center py-20 ">
  <div class="w-full lg:w-5/12 mx-auto">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>Packaging</h2>
    <p class="">
      Stylised eye as seen reflected in a telescope. Image created using the planets of the solar system. Each planet is
      correctly proportional in size.
    </p>

    {% include 'partial/btn',
    url: '/work',
    text: 'All Packaging',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}
  </div>
  <div class="w-full lg:w-1/2 my-3 group relative overflow-hidden rounded-lg">

    {% for work in collections.packaging limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=800&h=400&fit=crop',
    sm: '&w=750&h=350&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105 group-hover:brightness-75'
    %}
    {% endfor %}
  </div>
</section>

<!-- Illustrations -->
<section class="container flex flex-wrap justify-between items-center pb-20 ">
  <div class="w-full lg:w-1/3">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>Illustrations</h2>
    <p class="">
      I used to build WordPress and Magento themes back in the day and am very familiar with most major CMS platforms.
    </p>
    <p class="">
      These days I've dipped a toe into Next.js, but largely use Jamstack frameworks with Tailwind and Alpine on top.
    </p>

    {% include 'partial/btn',
    url: '/assets/file/corbin_featherstone.pdf',
    text: 'All Illustrations',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}

  </div>
  <div class="w-full lg:w-7/12 my-3 relative group overflow-hidden rounded-lg">
    {% for work in collections.website limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'm-2 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
        {% include 'partial/btn',
        url: work.url,
        text: 'Website',
        icopost: 'arrow-up-right',
        class: 'm-2 py-2 cursor-pointer text-slate-200 border border-black bg-slate-900 hover:bg-slate-800'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=980&h=500&fit=crop',
    sm: '&w=800&h=450&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105'
    %}
    {% endfor %}
  </div>
</section>


<!-- Events -->
<section class="container flex flex-wrap flex-row-reverse justify-between items-center py-20 ">
  <div class="w-full lg:w-5/12 mx-auto">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>Events</h2>
    <p class="">
      Stylised eye as seen reflected in a telescope. Image created using the planets of the solar system. Each planet is
      correctly proportional in size.
    </p>

    {% include 'partial/btn',
    url: '/work',
    text: 'All Events',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}
  </div>
  <div class="w-full lg:w-1/2 my-3 group relative overflow-hidden rounded-lg">

    {% for work in collections.events limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=800&h=400&fit=crop',
    sm: '&w=750&h=350&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105 group-hover:brightness-75'
    %}
    {% endfor %}
  </div>
</section>

<!-- Image compositing section -->
<section class="bg-white border-y my-20">
  <div class="container flex items-center flex-col lg:flex-row">
      <div class="lg:w-1/3 lg:pr-12 lg:py-16">
        {% include 'partial/icon-box',
        icon: 'user-friends',
        class: 'block'
        %}
        <h2>Image compositing</h2>
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
        {% include 'partial/btn',
        url: '/work',
        text: 'All Presentations',
        class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
        icopost: 'angle-right'
        %}

      </div>
      {% include 'partial/img',
      path: 'featured-layout.jpg',
      2xl: '&w=1200&h=600&fit=crop',
      xl: '&h=700',
      lg: '&h=550',
      md: '&w=20',
      sm: '&w=20',
      alt: 'Bad Juju, beer brand by Corbin Featherstone',
      class: '-my-20 rounded-lg border p-2 bg-white shadow-sm'
      %}
  </div>
</section>


<!-- Artwork -->
<section class="container py-20">
    <h2 class="text-center">Artwork</h2>
  </div>
  <ul class="w-full grid grid-cols-3 gap-8 my-8">
    {% for work in collections.artwork limit:6 %}
    <li class="relative group overflow-hidden">
      <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
      <div class="absolute w-full h-full hidden group-hover:flex items-center z-30">
        <div class="mx-auto text-center text-white">
          <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
          <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
          {% include 'partial/btn',
          url: work.url,
          text: 'View project',
          class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
          %}
        </div>
      </div>
      {% include 'partial/img',
      path: work.data.image,
      2xl: '&w=500&h=400&fit=crop',
      xl: '&w=420&h=300&fit=crop',
      lg: '&w=500&h=400&fit=crop',
      md: '&w=400&h=300&fit=crop',
      sm: '&w=320&h=200&fit=crop',
      class: 'transition duration-500 ease-in-out group-hover:scale-105'
      %}
    </li>
    {% endfor %}
  </ul>
</section>



<script type="application/ld+json" src="/assets/schema_personal.json"></script>