---
layout: main
title: Corbin NZ
---

<!-- hero -->
<section class="bg-primary pt-28 -mt-28 reversed">
  <div class="container flex items-center">
    <div class="lg:w-1/2 xl:w-1/3 lg:-mr-40 pt-6 pb-20 lg:pt-0 lg:pb-0 lg:ml-20 z-10">
      <h1 class="reversed">Stand out from the crowd.</h1>
      <p class="reversed md:w-3/4 lg:w-full">A proper graphic designer will deliver the best <span
          class="reversed font-bold">consistent visuals</span> for your business, across <span
          class="reversed font-bold">multiple platforms.</span> </p>

      <div class="py-3">
        {% include 'partial/btn',
        url: '/contact',
        text: 'Get in touch',
        class: 'my-2 mr-4 border-2 border-slate-900 bg-slate-900 text-primary hover:text-primary-light
        hover:bg-slate-800 hover:shadow',
        %}
        {% include 'partial/btn',
        url: 'assets/file/corbin_featherstone.pdf',
        text: 'Portfolio',
        class: 'my-2 border-2 border-slate-900 hover:bg-primary-light',
        icopost: 'arrow-up-right'
        %}

      </div>
    </div>
    <div class="hidden lg:flex">
      {% include 'partial/img',
      path: 'bad-juju.jpg',
      2xl: '&h=800',
      xl: '&h=700',
      lg: '&h=550',
      md: '&w=20',
      sm: '&w=20',
      alt: 'Bad Juju, beer brand by Corbin Featherstone',
      class: ''
      %}
    </div>
  </div>
</section>

<!-- socmed links -->
<section class="container -mt-11">
  {% include 'partial/socmed',
  class: '-mx-2',
  linkClass: 'hover:border-b-4 border-current'
  %}
</section>

<!-- Intro -->
<section class="container pt-24 pb-4">
  <div class="w-full text-center pb-20">
    <h5>Corbin Featherstone</h5>
    <h2 class="font-bold text-4xl lg:text-5xl py-4">
      Communicate. Information. Visually.
    </h2>
    <p class="text-xl text-slate-500">
      Graphic designer with a long history churning out high-quality work that solves problems.
    </p>
    <p class="text-sm max-w-lg mx-auto pt-2">
      The projects on this site represent a small section of my overall portfolio. Each item has been designed and built solely by myself. Copyright belongs to the company the work was created for, used with permission.
    </p>
    {% include 'partial/btn',
    url: '/about',
    text: 'About me',
    class: 'my-3 border border-primary-dark bg-primary hover:bg-primary-light',
    icopost: 'angle-right'
    %}
  </div>
  <!-- <div class="grid grid-cols-2 lg:grid-cols-3 gap-10 flex items-stretch">
          <div class="flex-1 bg-white shadow-lg col-span-2 lg:col-span-1 z-30 ">
            {% include 'partial/vimeo',
              id: '737271966',
              class: ''
              %}
            <div class="py-4 lg:py-6 px-8 lg:px-12">
            <h4 class="pt-2">Brand design</h4>
            <p class="mt-2 mb-4 text-slate-500">
              Identity packages, logos, emblems
            </p>
            </div>
          </div>
          <div class="flex-1 bg-white shadow-lg col-span-2 md:col-span-1 z-30">
            {% include 'partial/vimeo',
              id: '350871445',
              class: ''
              %}
            <div class="py-4 lg:py-6 px-8 lg:px-12">
            <h4 class="pt-2">Image processing</h4>
            <p class="mt-2 mb-4 text-slate-500">
              Keep you user engaged by providing meaningful information.
            </p>
            </div>
          </div>
          <div class="flex-1 bg-white shadow-lg col-span-2 md:col-span-1 z-30">
            {% include 'partial/vimeo',
              id: '737118704',
              class: ''
              %}
            <div class="py-4 lg:py-6 px-8 lg:px-12">
            <h4 class="pt-2">Hand crafted</h4>
            <p class="mt-2 mb-4 text-slate-500">
              I still enjoy picking up the pencil or paintbrush to create original illustrations.
            </p>
            </div>
          </div>
        </div> -->
</section>

<!-- Featured -->
<div class="relative overflow-hidden bg-white pb-32 pt-16 border-y">
  <div class="relative">
    <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:px-0 lg:py-16">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900">Stay on top of customer support</h2>
            <p class="mt-4 text-lg text-gray-500">Semper curabitur ullamcorper posuere nunc sed. Ornare iaculis bibendum
              malesuada faucibus lacinia porttitor. Pulvinar laoreet sagittis viverra duis. In venenatis sem arcu
              pretium pharetra at. Lectus viverra dui tellus ornare pharetra.</p>
            <div class="mt-6">
              {% include 'partial/btn',
              url: '/work',
              text: 'All work',
              class: 'my-3 border border-slate-200 bg-white hover:border-slate-500',
              icopost: 'angle-right'
              %}
            </div>
          </div>
        </div>
        <div class="mt-8 border-t border-gray-200 pt-6">
          <blockquote>
            <div>
              <p class="text-base text-gray-500">&ldquo;Cras velit quis eros eget rhoncus lacus ultrices sed diam. Sit
                orci risus aenean curabitur donec aliquet. Mi venenatis in euismod ut.&rdquo;</p>
            </div>
            <footer class="mt-3">
              <div class="flex items-center space-x-3">
                <div class="flex-shrink-0">
                  <img class="h-6 w-6 rounded-full"
                    src="https://images.unsplash.com/photo-1509783236416-c9ad59bae472?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                    alt="">
                </div>
                <div class="text-base font-medium text-gray-700">Marcia Hill, Digital Marketing Manager</div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="-mr-48 pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0">
          <img
            class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
            src="https://tailwindui.com/img/component-images/inbox-app-screenshot-1.jpg" alt="Inbox user interface">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-24">
    <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div class="mx-auto max-w-xl px-6 lg:col-start-2 lg:mx-0 lg:max-w-none lg:px-0 lg:py-32">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900">Better understand your customers</h2>
            <p class="mt-4 text-lg text-gray-500">Semper curabitur ullamcorper posuere nunc sed. Ornare iaculis bibendum
              malesuada faucibus lacinia porttitor. Pulvinar laoreet sagittis viverra duis. In venenatis sem arcu
              pretium pharetra at. Lectus viverra dui tellus ornare pharetra.</p>
            <div class="mt-6">
              {% include 'partial/btn',
              url: '/work',
              text: 'All work',
              class: 'my-3 border border-slate-200 bg-white hover:border-slate-500',
              icopost: 'angle-right'
              %}
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:col-start-1 lg:mt-0">
        <div class="-ml-48 pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0">
          <img
            class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none"
            src="https://tailwindui.com/img/component-images/inbox-app-screenshot-2.jpg"
            alt="Customer profile user interface">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Recent -->
<section class="container py-12">
  <h2 class="text-center pb-12">Recent work</h2>
  <ul class="w-full grid grid-cols-2 xl:grid-cols-4 gap-x-12">
    {% for work in collections.recent limit:4 %}

    <li class="relative group overflow-hidden rounded-md border-2 border-white shadow-sm">
      <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:block bg-slate-900 opacity-40 z-20"></div>
      <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex items-center z-30">
        <div class="mx-auto text-center text-white">
          <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
          <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
          {% include 'partial/btn',
          url: work.url,
          text: 'View project',
          class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
          %}
        </div>
      </div>
      {% include 'partial/img',
      path: work.data.image,
      2xl: '&w=360&h=580&fit=crop',
      xl: '&w=420&h=400&fit=crop',
      lg: '&w=500&h=420&fit=crop',
      md: '&w=400&h=300&fit=crop',
      sm: '&w=380&h=280&fit=crop',
      class: 'transition duration-500 ease-in-out group-hover:scale-105'
      %}
    </li>
    {% endfor %}
  </ul>
</section>


<!-- website section -->
<section class="container flex flex-wrap justify-between items-center pb-20 ">
  <div class="w-full lg:w-1/3">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>Website front-end</h2>
    <p class="">
      I used to build WordPress and Magento themes back in the day and am very familiar with most major CMS platforms.
    </p>
    <p class="">
      These days I've dipped a toe into Next.js, but largely use Jamstack frameworks with Tailwind and Alpine on top.
    </p>

    {% include 'partial/btn',
    url: '/assets/file/corbin_featherstone.pdf',
    text: 'All Websites',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}

  </div>
  <div class="w-full lg:w-7/12 my-3 relative group overflow-hidden rounded-lg">
    {% for work in collections.website limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'm-2 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
        {% include 'partial/btn',
        url: work.url,
        text: 'Website',
        icopost: 'arrow-up-right',
        class: 'm-2 py-2 cursor-pointer text-slate-200 border border-black bg-slate-900 hover:bg-slate-800'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=980&h=500&fit=crop',
    sm: '&w=800&h=450&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105'
    %}
    {% endfor %}
  </div>
</section>

<!-- Brand section -->
<section class="container flex flex-wrap flex-row-reverse justify-between items-center py-20 ">
  <div class="w-full lg:w-5/12 mx-auto">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>Branding</h2>
    <p class="text-lg">
      Stylised eye as seen reflected in a telescope. Image created using the planets of the solar system. Each planet is
      correctly proportional in size.
    </p>

    {% include 'partial/btn',
    url: '/assets/file/corbin_featherstone.pdf',
    text: 'All Branding',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}
  </div>
  <div class="w-full lg:w-1/2 my-3 group relative overflow-hidden rounded-lg">
    {% for work in collections.branding limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=8000&h=400&fit=crop',
    sm: '&w=750&h=350&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105 group-hover:brightness-75'
    %}
    {% endfor %}
  </div>
</section>

<!-- Print and Digital Layout section -->
<section class="container flex flex-wrap justify-between items-center py-20 ">
  <div class="w-full lg:w-5/12 mx-auto">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>Print & digital layout</h2>
    <p class="text-lg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
    </p>

    {% include 'partial/btn',
    url: '/work',
    text: 'All Layout',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}
  </div>
  <div class="w-full lg:w-1/2 my-3 group relative overflow-hidden rounded-lg">
    {% for work in collections.layout limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=800&h=400&fit=crop',
    sm: '&w=750&h=350&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105 group-hover:brightness-75'
    %}
    {% endfor %}
  </div>
</section>

<!-- Advertising section -->
<section class="container flex flex-row-reverse flex-wrap justify-between items-center py-20 ">
  <div class="w-full lg:w-1/4 mx-auto">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>Advertising</h2>
    <p class="text-lg">
      Tractor crops / Digital cloud watering plant
    </p>

    {% include 'partial/btn',
    url: '/work',
    text: 'All Advertising',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}
  </div>
  <div class="w-full lg:w-7/12 my-3 group relative overflow-hidden rounded-lg">
    {% for work in collections.advertising limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=800&h=400&fit=crop',
    sm: '&w=750&h=350&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105 group-hover:brightness-75'
    %}
    {% endfor %}
  </div>
</section>

<!-- 3D -->
<section class="container flex flex-wrap justify-between items-center py-20 ">
  <div class="w-full lg:w-5/12 mx-auto">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>3D Designs</h2>
    <p class="text-lg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
    </p>

    {% include 'partial/btn',
    url: '/work',
    text: 'All 3D',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}
  </div>
  <div class="w-full lg:w-1/2 my-3 group relative overflow-hidden rounded-lg">
    {% for work in collections.layout limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=800&h=400&fit=crop',
    sm: '&w=750&h=350&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105 group-hover:brightness-75'
    %}
    {% endfor %}
  </div>
</section>

<!-- Quote -->
<section class="container py-20 ">
  {% include 'partial/quote-lg',
  quote: "...the truth is, it's not the idea, it's never the idea, it's always what you do with it.",
  attribute: 'Neil Gaiman',
  class: ''
  %}
</section>

<!-- Image processing section -->
<section class="container py-24 ">
  <div class="flex flex-wrap items-stretch rounded">
    <div class="bg-white border lg:w-1/4 p-12 lg:-mr-5 lg:-mt-6 lg:mb-6 z-10">
      <h2>Image processing</h2>
      <p class="pb-20">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </div>
    <div class="bg-slate-200 flex-1 flex items-center">
      <h2 class="mx-auto">Comparison slider</h2>
    </div>
  </div>
</section>

<!-- Video editing and Motion graphics -->
<section class="container py-12">
  <h2 class="text-center pb-12">Video work</h2>
  <ul class="w-full grid grid-cols-1 xl:grid-cols-3 gap-x-12">
    {% for work in collections.recent limit:3 %}

    <li class="relative group overflow-hidden rounded-md border-2 border-white shadow-sm">
      <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:block bg-slate-900 opacity-40 z-20"></div>
      <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex items-center z-30">
        <div class="mx-auto text-center text-white">
          <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
          <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
          {% include 'partial/btn',
          url: work.url,
          text: 'View project',
          class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
          %}
        </div>
      </div>
      {% include 'partial/img',
      path: work.data.image,
      2xl: '&w=460&h=580&fit=crop',
      xl: '&w=420&h=400&fit=crop',
      lg: '&w=500&h=420&fit=crop',
      md: '&w=400&h=300&fit=crop',
      sm: '&w=380&h=280&fit=crop',
      class: 'transition duration-500 ease-in-out group-hover:scale-105'
      %}
    </li>
    {% endfor %}
  </ul>
</section>



<!-- Packaging -->
<section class="container flex flex-wrap flex-row-reverse justify-between items-center py-20 ">
  <div class="w-full lg:w-5/12 mx-auto">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>Packaging</h2>
    <p class="text-lg">
      Stylised eye as seen reflected in a telescope. Image created using the planets of the solar system. Each planet is
      correctly proportional in size.
    </p>

    {% include 'partial/btn',
    url: '/work',
    text: 'All Packaging',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}
  </div>
  <div class="w-full lg:w-1/2 my-3 group relative overflow-hidden rounded-lg">

    {% for work in collections.packaging limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=800&h=400&fit=crop',
    sm: '&w=750&h=350&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105 group-hover:brightness-75'
    %}
    {% endfor %}
  </div>
</section>

<!-- Illustration -->
<section class="container flex flex-wrap justify-between items-center py-20 ">
  <div class="w-full lg:w-5/12 mx-auto">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>Illustration</h2>
    <p class="text-lg">
      Stylised eye as seen reflected in a telescope. Image created using the planets of the solar system. Each planet is
      correctly proportional in size.
    </p>

    {% include 'partial/btn',
    url: '/work',
    text: 'All Illustration',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}
  </div>
  <div class="w-full lg:w-1/2 my-3 group relative overflow-hidden rounded-lg">

    {% for work in collections.illustration limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=800&h=400&fit=crop',
    sm: '&w=750&h=350&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105 group-hover:brightness-75'
    %}
    {% endfor %}
  </div>
</section>


<!-- Events -->
<section class="container flex flex-wrap flex-row-reverse justify-between items-center py-20 ">
  <div class="w-full lg:w-5/12 mx-auto">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>Events</h2>
    <p class="text-lg">
      Stylised eye as seen reflected in a telescope. Image created using the planets of the solar system. Each planet is
      correctly proportional in size.
    </p>

    {% include 'partial/btn',
    url: '/work',
    text: 'All Events',
    class: 'my-5 border border-slate-200 bg-white hover:border-slate-500',
    icopost: 'angle-right'
    %}
  </div>
  <div class="w-full lg:w-1/2 my-3 group relative overflow-hidden rounded-lg">

    {% for work in collections.events limit:1 %}
    <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
    <div class="absolute w-full h-full hidden group-hover:flex items-center">
      <div class="mx-auto text-center text-white z-30">
        <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
        <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
        {% include 'partial/btn',
        url: work.url,
        text: 'View project',
        class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
        %}
      </div>
    </div>
    {% include 'partial/img',
    path: work.data.image,
    2xl: '&w=1000&h=650&fit=crop',
    xl: '&w=850&h=500&fit=crop',
    lg: '&w=700&h=600&fit=crop',
    md: '&w=800&h=400&fit=crop',
    sm: '&w=750&h=350&fit=crop',
    class: 'transition duration-500 ease-in-out group-hover:scale-105 group-hover:brightness-75'
    %}
    {% endfor %}
  </div>
</section>

<!-- Image compositing section -->
<section class="container py-24 ">
  <div class="flex flex-wrap items-stretch rounded">
    <div class="bg-white border lg:w-1/4 p-12 lg:-mr-5 lg:-mt-6 lg:mb-6 z-10">
      <h2>Image compositing</h2>
      <p class="pb-20">
        Day / night, tractor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="bg-slate-200 flex-1 flex items-center">
      <h2 class="mx-auto">Comparison slider</h2>
    </div>
  </div>
</section>


<!-- Traditional -->
<section class="container py-20">
  <div class="w-full">
    {% include 'partial/icon-box',
    icon: 'user-friends',
    class: 'block'
    %}
    <h2>Traditional</h2>
    <p class="text-lg md:w-1/2">
      Trade shows and displays. dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
    </p>
  </div>
  <ul class="w-full grid grid-cols-3 gap-8 my-8">
    {% for work in collections.artwork limit:6 %}
    <li class="relative group overflow-hidden">
      <div class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex bg-slate-900 opacity-20 z-20"></div>
      <div class="absolute w-full h-full hidden group-hover:flex items-center z-30">
        <div class="mx-auto text-center text-white">
          <p class="font-bold text-2xl text-shadow">{{ work.data.title }}</p>
          <p class="px-5 py-2 text-shadow">{{ work.data.description }}</p>
          {% include 'partial/btn',
          url: work.url,
          text: 'View project',
          class: 'my-3 py-2 cursor-pointer text-slate-900 border border-primary-dark bg-primary hover:bg-primary-light'
          %}
        </div>
      </div>
      {% include 'partial/img',
      path: work.data.image,
      2xl: '&w=500&h=400&fit=crop',
      xl: '&w=420&h=300&fit=crop',
      lg: '&w=500&h=400&fit=crop',
      md: '&w=400&h=300&fit=crop',
      sm: '&w=320&h=200&fit=crop',
      class: 'transition duration-500 ease-in-out group-hover:scale-105'
      %}
    </li>
    {% endfor %}
  </ul>
</section>



<script src="/partial/schema_personal.json">
</script>